# Interfaces
python-telegram-bot==20.7
chainlit
schedule>=1.2
python-dotenv

# Google API
google-api-python-client
google-auth
google-auth-oauthlib

# Embedding (lokal & OpenAI)
sentence-transformers==2.2.2
torch==1.13.1
numpy>=1.21.0
openai>=1.0.0  # optional, für OpenAI-Embedding
