# Interfaces & Scheduling
chainlit
schedule>=1.2
python-dotenv

# Google API Access
google-api-python-client
google-auth
google-auth-oauthlib

# OpenAI-Zugriff (GPT, Embedding, Vision, etc.)
openai>=1.0.0

# Basis für Textverarbeitung, Embeddings, NumPy
numpy>=1.21.0
